/*
* TOC
*
* IMAGES CLIENTS
*/

/*------------------*\

> IMAGES CLIENTS

\*------------------*/
.client1,
.client3 {
  img {
    height: 100% !important;
    width: 100% !important;
  }

}

.client6 {
  img {
    height: 100px !important;
    width: 120px !important;
  }

}

.client7,
.client5 {
  img {
    height: 56px !important;
    width: 100px !important;
  }

}

.client8 {
  img {
    height: 100px !important;
    width: 130px !important;
  }

}
