/*
* TOC
*
*/

/*------------------*\

> COLORS

\*------------------*/

$blue-lagoon: #00577a;
$white: #fff;
$cyan: #1bac9f;
$dark-cyan: #0b8b96;
$very-dark: #2e2828;
$very-dark-red: #232020;

/*------------------*\

> FONTS

\*------------------*/
$source-sans: 'source sans pro';
$source-sans__extralight: 'source sans pro extralight';
